.image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.card {
    margin-right: 20%;
    margin-left: 20%;
}

.card-body {
    margin-right: 5%;
    margin-left: 5%;
}

.al {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.letter {
    color: orange;
}

.letter-l {
    color: dodgerblue;
}

.big-shot {

    color: red;
    animation-name: example;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {color: red;}
    14%   {color: orange;}
    28%   {color: yellow;}
    36%   {color: yellowgreen;}
    42%   {color: green;}
    56%  {color: blue;}
    70%  {color: purple;}
    84% {color: palevioletred;}
  }

.in-the-middle {
    color: cadetblue;
}